.header {
    height: 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .logo {
      height: 100%;
    //   width: 60px;
      margin-top: 2vw;
      margin-bottom: 2vw;
      margin-left: 2vw;
    //   padding-top: 20px;
    //   padding-left: 20px
    }
  
    .greeting {
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: 2vw;
      margin-bottom: 2vw;
      margin-right: 2vw;
      background: red;
      background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
      background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
      background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
      background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 4vw;
      
    }
  }