.menu-item {
  min-width: 30%;
  height: 35vw;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0px 1px 5px 1px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 45vw;
  }

  &.small {
    height: 35vw;
  }

  &:first-child {
    margin-right: 1px;
  }

  &:last-child {
    margin-left: 1px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
